:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --color-accent: #FF0070;
  --color-accent-opacity: #FF007066;
  --color-text: #F1B2CE;
  --color-decorative: var(--color-accent);
  --color-decorative-bulb: var(--color-accent);
  --color-title-primary: #DB00FF;
  --color-title-secondary: var(--color-accent);
  --color-title-card: var(--background-color);
  --is-light: visible;
}