.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --color-accent: #FF8DCB;
  --color-accent-opacity: #32312D66;
  --color-text: #353430;
  --color-decorative: var(--color-text);
  --color-decorative-bulb: var(--color-accent);
  --color-title-primary: #FFC2E6;
  --color-title-secondary: var(--color-text);
  --color-title-card: var(--color-text);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #FFF1F7;
    --color-accent: #FF8DCB;
    --color-accent-opacity: #32312D66;
    --color-text: #353430;
    --color-decorative: var(--color-text);
    --color-decorative-bulb: var(--color-accent);
    --color-title-primary: #FFC2E6;
    --color-title-secondary: var(--color-text);
    --color-title-card: var(--color-text);
    --is-light: hidden;
  }
}