.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--color-decorative);
  border-inline-end: 1px solid var(--color-decorative);
}

.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--color-decorative);
  border-inline-start: 1px solid var(--color-decorative);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent);
}

.link:focus-visible {
  outline: none;
}

.title_decor {
  grid-column: 1 / 4;
  color: var(--color-title-card);
  background-color: var(--color-accent);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

/* Хедер */
.header {
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header-rec {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  visibility: var(--is-light);
  block-size: 25px;
  color: var(--color-accent);
  font-size: var(--regular-font-size);
  text-transform: uppercase;
  line-height: 25px;
}

.header-rec::after {
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--color-accent);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--color-accent));
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--color-decorative);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color-decorative);
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--color-title-primary);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--small-line-height);
  text-shadow: 4px 4px 0 var(--color-accent);
}

.header__subtitle {
  grid-column: 1 / 3;
  display: inline-block;
  justify-content: end;
}

/* Основной контент */
.main {
  margin-block: 40px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
}

/* Секции */
.section {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.section__title {
  grid-column: 1 / 4;
  color: var(--color-title-secondary);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

/* Карточки */
.card {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 10px;
}

.card__text {
  grid-column: 1 / 4;
  color: var(--color-text);
  font-size: var(--regular-font-size);
  line-height: var(--large-line-height);
}

.card__title_thin {
  font-weight: var(--regular-font-weight);
}

/* Галерея */
.gallery {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px;
}

.gallery__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

/* Футер */
.footer {
  padding: 10px;
  block-size: 100vh;
  display: grid;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--color-title-primary);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
  text-shadow: 2px 2px 0 var(--color-accent);
}


@media (width >= 768px){
  .header {
    padding: 20px;
  }

  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    grid-column: 2 / 3;
  }

  .main {
    margin-block: 60px;
    padding-inline: 20px;
    row-gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card {
    grid-column: 2 / 3;
  }

  .section:nth-child(2) .card{
    grid-column: 1 / 4;
  }

  .section > .title_decor{
    grid-column: 2 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__image {
    object-fit: cover;
    object-position: center;
  }

  .gallery__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .link:hover {
    border-bottom: 1px solid var(--text-color);
  }

  .link:focus {
    outline: none;
  }

  .link:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: -1px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--accent-color-opacity);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--decoration-color);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }


  .card {
    grid-column: 2 / 4;
  }

  .section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

  }

  .section:nth-child(2) .section__title {
    grid-row: span 1;
  }

  .section:nth-child(2) .card{
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .section > .title_decor{
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
